.homepage
    background: white !important
    color: #333333 !important
    min-height: calc(100% - 410px) !important

    div[role=main]
        padding: 0 !important
        min-height: calc(100vh - 405px) !important

        .container

            h1
                margin-top: 1rem !important
            
            .col-container
                display: flex
                justify-content: space-between

                .col-md-12
                    width: fit-content
                    padding: 0
                    
                    // col1
                    p
                        display: block
                        font-famisly: 'Roboto', sans-serif
                        max-width: 62ch
                        margin: 0
                        padding-top: 1rem
                        margin-right: 4rem
                    
                    //col2
                    .module
                        padding: 0
                        margin: 0
                        border: none
                        border-radius: none !important
                        box-shadow: none !important
                        -webkit-box-shadow: none !important

                        .module-content
                            background: white !important
                            color: #333333 !important
                            padding: 0 !important
                            padding-bottom: 1.5rem !important

                            h3
                                padding-bottom: 1.25rem !important

                            .search-input
                                #field-main-search
                                    padding: 16px 24px !important
                                    border: 1px solid #333333 !important
                                    border-radius: 2px !important
                                    font-family: 'Roboto', sans-serif

                                    &:focus
                                        box-shadow: 0px 0px 0px 5.5px rgba(199, 213, 224, 1) !important

                                .form-control
                                    color: transparent !important

                                button
                                    margin-top: -10px !important

                                    i
                                        font-size: 18px
                                        color: #8B8B8B !important

                                        &:hover
                                            color: #333333 !important

                        .tags
                            background-color: white !important
                            color: #333333 !important
                            font-family: 'Roboto', sans-serif
                            border-top: 1px solid #8B8B8B !important
                            padding: 0 !important
                            padding-top: 2rem !important

                            h3
                                font-family: 'Jost', sans-serif
                                padding: 0 !important
                                margin: 0 !important
                                margin-right: 2rem !important

                            .tag
                                border: 1px solid #333333 !important
                                box-shadow: none
                                background: white !important
                                margin: 0 !important
                                margin-right: 1rem !important

                                &:hover
                                    background: #ECF1F5 !important
                                    color: #333333 !important